[user]
	email = hanh.le@employmenthero.com
	name = Hanh Le
  # define command which will be used when "nvim" is set as a merge tool
[mergetool "nvim"]
  cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"
  # set "nvim" as tool for merging
[merge]
  tool = nvim
  # automatically launch merge tool without displaying a prompt
[mergetool]
  prompt = false
[core]
	whitespace = trailing-space
[alias]
  hub-pr = !hub pull-request
[pull]
	rebase = false
