[user]
	email = lehanh.bk.mt1002@gmail.com
	name = Hanh Le
  # define command which will be used when "nvim" is set as a merge tool
[mergetool "nvim"]
  cmd = nvim -f -c "Gdiffsplit!" "$MERGED"
  # set "nvim" as tool for merging
[merge]
  tool = nvim
  conflictstyle = diff3
[mergetool]
  prompt = false
  # automatically launch merge tool without displaying a prompt
[core]
	whitespace = trailing-space
[alias]
  hub-pr = !hub pull-request
  hub-pr-list = !hub pr list
[pull]
	rebase = false
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
